.header {
  background-image: url("../images/desktop/image-header.jpg");
  
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  &__main {
    text-align: center;
  }

  &__heading {
    padding-top: 8rem;
    color: $color-white;
    font-size: 6rem;
    font-family: $secondary-font;
    font-weight: $font-weight-900;
    text-transform: uppercase;

    letter-spacing: 8px;

    @media screen and (max-width: 75em) {
      padding-top: 4rem;
      font-size: 4rem;
    }

    @media screen and (max-width: 56.25em) {
      font-size: 3rem;
    }
  }

  &__arrow {
    padding: 5rem 0;
    margin-bottom: 25rem;

    @media screen and (max-width: 75em) {
      padding-top: 3rem;
      margin-bottom: 15rem;
    }

    @media screen and (max-width: 37.5em) {
      padding-top: 3rem;
      margin-bottom: 10rem;
    }
  }

  @media screen and (max-width: 37.5em) {
    height: 75vh;
    background-size: cover;
    background-position: center;
  }
}
